/node_modules
/.vscode

.env
/lang/enGB.json
/lang/zhCN_another.json
/lang/zhCN_rep.json
/lang/zhCN_bk.json
/lang/rep.json
/batchout
/splitLang
pathfinder_jp

pathfinder_jp.zip
dist.zip

patch.js